body{
  font-family:"Montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
  padding-bottom: 230px;
}

.navbar-brand{
   font-family: "Ubuntu";
   font-size: 110%;
   font-weight: bold;
}

.navbarfont{
  font-size: 180%;
}

h1{
  font-family: "Montserrat-Bold";
  font-size: 3.5rem;
  line-height: 1.5;
}

h2{
  font-family: "Montserrat-Bold";
  font-size: 5rem;
  line-height: 1.5;
}

h3{
  padding-bottom: 2%;
  padding-top: 3%;
}

.container{
  padding: 3% 15%;
}
.titletop{
  padding-top: 4.5rem;
}
.meetclass{
  padding-bottom: 1.5rem;
}

/* Navigation Bar */

.navbar{
  margin-bottom: 0 0 4.5rem;
}

.buttonbottom{
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* imagesection */

.dogimage{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  margin-left: 30%;
}

/* features */

#features{
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 5% 10%;
}
.itemicon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.itemicon:hover{
  color: #ff4c68;
}

.features-box{
  /* align-content: center; */
  text-align:center;
  padding: 4.5%;
}

/* testimonial section */

#testimonials{

  text-align: center;
  background-color:#ef8172;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

/* press section */

#press{
  background-color:#ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-images{
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width:1028px){
  .dogimage{
    position: static;
    transform: rotate(0deg);
    margin-left: 0%;
    margin-top: 3%;
  }
  #title{
    text-align: center;
  }
}

#cta{
  background-color: #ef8172;
  color: #fff;
  text-align: center;
  padding-bottom: 3%;
}

#footer{
  background-color: #fff;
  color: #000;
  padding-top: 2%;
  text-align:center;
  font-size: 70%;
}

.footer-icons{
  margin: 1%;
  color: #000;
}
